<h2>Recap</h2>
<mat-list>
    <mat-list-item>Gender: {{user.gender}}</mat-list-item>
    <mat-list-item>First Name: {{user.firstname}}</mat-list-item>
    <mat-list-item>Last Name: {{user.lastName}}</mat-list-item>
    <mat-list-item>Address: {{user.address}}</mat-list-item>
    <mat-list-item>City: {{user.city}}</mat-list-item>
    <mat-list-item>ZIP Code: {{user.cp}}</mat-list-item>
    <mat-list-item>Country: {{user.country}}</mat-list-item>
    <mat-list-item>Telephone: {{user.prefix}}   {{user.telephone | phone}}</mat-list-item>
    <mat-list-item>Username: {{user.username}}</mat-list-item>
    <mat-list-item>Email: {{user.email}}</mat-list-item>
</mat-list>
